.sign-out-mainsection{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    .log-out-button{
        height: 50px;
        width: 50%;
    }
    .user-details{
        color: white;
    }
    .sign-out-content{
        color: white;
    }
}